body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5; /* Grey background color */
}

// App.scss

@import '_mixins';

.profile-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;

  // Styles for mobile phones
  @include mobile {
    flex-direction: column; // Display sections stacked on mobiles
    width: 100%;
  }
}
.bio{

  @include mobile {
    width: calc(100% - 60px);
margin-left: 10px;
  }
}
.bio-container {
  order: 1;

  margin-top: 20px;
}
.post{

  @include mobile {
    width: calc(100% - 80px); // 20px less than screen width
  }
}
.posts-container {
  order: 2;
  display: flex;
  flex-direction: column;
 
 
}

.header,
.profile-container,
.bio,
.posts-container {
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sections-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Adjust the gap between the sections */
  background-color: #f0f2f5;
}
